html{
	background: #f2f2f2 none repeat;
}

body{
	font: 80% "Trebuchet MS", sans-serif;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:50px;
	margin-left:50px;
	}
	
.welcome_menu_item{
	display: block;
}
